@import 'config';
@import 'mixins';

@import 'normalize';

$background-color: #013;
$positive: #94fe38;
$negative: #ff39e4;



html,
body {
  background-color: $background-color;
  font-family: sans-serif;
  padding: 0 2.5vh;
  margin: 0;
  color: white;
  overflow: hidden;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  height: 18vh;
  position: relative
}

.megaphone-img,
.dont-stop-img,
.runhack-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.megaphone-img {

}

.dont-stop-img {
  left: 56px;
  margin-top: -2px;
}

.runhack-img {
  right: 0;
}

.big-btn {
  width: 100%;
  height: 46vh;
  font-size: 10vh;
  appearance: none;
  border: 0;
  border-radius: 4px;
  color: transparent;
  outline: 0;
  transition: background-color .3s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14vh;
}

.btn-positive {
  background-color: $positive;
  background-image: url('/assets/nice.svg');

  &:hover,
  &:active {
    background-color: mix(black, $positive, 20%);
  }
}

.btn-negative {
  background-color: $negative;
  background-image: url('/assets/angry.svg');

  &:hover,
  &:active {
    background-color: mix(black, $negative, 20%);
  }
}
